@using ECommerceMVC.ViewModels
@model StockViewModel

<h2 class="text-center my-4">Stock Information</h2>

<div class="container">
    @if (Model != null)
    {
        <div class="card mb-4">
            <div class="card-header">
                <h5 class="card-title">Product ID: @Model.StockDto.Id</h5>
            </div>
            <div class="card-body">
                <p><strong>Product Quantity:</strong> @Model.StockDto.ProductQuantity</p>
                @foreach (var history in Model.StockDto.StockHistories)
                {
                    <p>@history.DateTime, @history.Message</p>
                }
                <form method="post" asp-action="UpdateStock">
                    <div class="form-group">
                        <label for="productQuantity">Update Quantity:</label>
                        <input type="hidden" name="Id" value="@Model.StockDto.Id" />
                        <input type="number" id="productQuantity" name="productQuantity" class="form-control" value="@Model.StockUpdateDto.ProductQuantity" required />
                    </div>
                    <button type="submit" class="btn btn-primary">Update Stock</button>
                </form>
            </div>
        </div>
    }
    else
    {
        <div class="alert alert-warning" role="alert">
            No stock information found for this product.
        </div>
    }
</div>