@using ECommerceMVC.Application.Dtos.Orders
@using ECommerceMVC.ViewModels
@model OrderViewModel

@{
    ViewData["Title"] = "Place Your Order";
}

<h2>@ViewData["Title"]</h2>

<div class="container mt-4">
    <form asp-action="Index" method="post">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="User.Email" class="control-label">Email</label>
                    <input asp-for="User.Email" class="form-control" required />
                    <span asp-validation-for="User.Email" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="User.PhoneNumber" class="control-label">Phone Number</label>
                    <input asp-for="User.PhoneNumber" class="form-control" required />
                    <span asp-validation-for="User.PhoneNumber" class="text-danger"></span>
                </div>
            </div>
        </div>
        <input asp-for="User.Id" type="hidden" value="@Model.User.Id" class="form-control" required />
        <div class="form-group">
            <label asp-for="User.FirstName" class="control-label">First Name</label>
            <input asp-for="User.FirstName" class="form-control" required />
            <span asp-validation-for="User.FirstName" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="User.LastName" class="control-label">Last Name</label>
            <input asp-for="User.LastName" class="form-control" required />
            <span asp-validation-for="User.LastName" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="@Model.Country" class="control-label">Country</label>
            <input asp-for="@Model.Country" class="form-control" required />
            <span asp-validation-for="@Model.Country" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="@Model.City" class="control-label">City</label>
            <input asp-for="@Model.City" class="form-control" required />
            <span asp-validation-for="@Model.City" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="@Model.Street" class="control-label">Street</label>
            <input asp-for="@Model.Street" class="form-control" required />
            <span asp-validation-for="@Model.Street" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="@Model.BuildingNumber" class="control-label">BuildingNumber</label>
            <input asp-for="@Model.BuildingNumber" class="form-control" required />
            <span asp-validation-for="@Model.BuildingNumber" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="@Model.ApartmentNumber" class="control-label">ApartmentNumber</label>
            <input asp-for="@Model.ApartmentNumber" class="form-control"/>
            <span asp-validation-for="@Model.ApartmentNumber" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="PostalCode" class="control-label">Postal Code</label>
            <input asp-for="PostalCode" class="form-control" required />
            <span asp-validation-for="PostalCode" class="text-danger"></span>
        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-primary">Place Order</button>
        </div>
    </form>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}