@model IEnumerable<ECommerceMVC.Application.Dtos.Products.ProductDto>

<h2>Product List</h2>

<form method="post" asp-action="Index">
    <label for="productType">Select Product Type:</label>
    <select id="productType" name="productType">
        <option value="">All</option>
        <option value="1">Raquets</option>
        <option value="2">Balls</option>
        <option value="3">Bags</option>
        <option value="4">Accessories</option>
    </select>
    <button type="submit">Filter</button>
</form>

<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Description</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            @foreach (var product in Model)
            {
                <tr>
                    <td>@product.Name</td>
                    <td>@product.Price</td>
                    <td>@product.Description</td>
                    <td>
                        <a asp-action="EditProduct" asp-route-id="@product.Id">Edit</a>
                        <form method="post" asp-action="RemoveProduct" asp-route-productId="@product.Id" style="display:inline;">
                            <button type="submit">Remove</button>
                        </form>
                    </td>
                </tr>
            }

        }
    </tbody>
</table>